
html, body {
	overflow: hidden;
}

@media screen {
#canvas {
	position: absolute;
	top: 0;
	left: 0;
	right: 250pt;
	bottom: 0;
	overflow: scroll;
	padding: 10pt;
}

#page {
	background: white;
	width: 595.4pt;
	height: 842pt;
	padding: 90pt 50pt 100pt 50pt;
	margin: auto;
	border: 1px solid lightgray;
	box-shadow: 2pt 2pt 5pt 3pt lightgray;
}
}

#panel {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 220pt;
	padding: 14pt;
	overflow: hidden;
}

#panel input[type=range] {
	width: 100%;
}

#source {
	width: 100%;
	resize: none;
}

#sampleDrawing img {
	height: 120pt;
}

.about {
	position: absolute;
	padding: 4px 0;
	font-size: 10pt;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
}

@media print {
	#panel {
		display: none;
	}
}

.ui-slider {
	margin-top: 6pt;
	margin-bottom: 6pt;
}

label {
	display: block;
	padding-top: 10pt;
}
